
body.skyCafeApp {
	overflow: hidden !important;
}

#contentParent .skyCafeApp,
#contentParent .skyCafeApp * {
}

#contentParent .skyCafeApp.part {
	/* padding: 1px 0 0 1px; */
	font-size: 16pt;
	overflow: hidden !important;
	background-color: #f8f8f8;
	/*background-repeat: repeat;
	background-position: 0 0;
	background-size: 150px;
	background-image: url(../../../_kernel/images/skyCafe_background.svg);*/
}
@media (max-width: 1100px) {
	#contentParent .skyCafeApp .part {
		font-size: 15pt;
	}
}
@media (max-width: 800px) {
	#contentParent .skyCafeApp .part {
		font-size: 14pt;
	}
}

.skyCafeApp .part #sagForm {
	background-size: 380px;
	background-repeat: no-repeat;
	background-position: center 380px;
	background-image: url(../../../_kernel/images/sky_logo.svg);	
}
@media (max-width: 1280px) {
	.skyCafeApp .part #sagForm {
		background-position: center 480px;
		background-size: 300px;
	}
}
@media (max-width: 1100px) {
	.skyCafeApp .part #sagForm {
		background-position: center 550px;
		background-size: 200px;
	}
}
@media (max-width: 1000px) {
	.skyCafeApp .part #sagForm {
		background-position: center 600px;
		background-size: 150px;
	}
}


.skyCafeApp.jqx-listbox {
	background: ghostwhite !important;
	opacity: .97 !important;
}
.skyCafeApp.jqx-listbox .jqx-listitem-element {
}
.skyCafeApp.jqx-listbox .jqx-listitem-element .jqx-item {
	padding: 20px 3px !important;
}
/*#contentParent .skyCafeApp .jqx-dropdownlist *,
#contentParent .skyCafeApp .part .jqx-grid .jqx-grid-toolbar .jqx-input-group,
#contentParent .skyCafeApp .part .jqx-grid .jqx-grid-toolbar .jqx-input-group > * {
	font-size: 12.5pt;
}
#contentParent .skyCafeApp .jqx-dropdownlist {
	height: 24px !important;
}*/
#contentParent .skyCafeApp .part .jqx-grid .jqx-grid-toolbar {
	/*margin-top: -1px;*/
}
#contentParent .skyCafeApp .part .jqx-grid .jqx-grid-toolbar > .jqx-input-group {
	margin: 5px 0 0 3px  !important;
}
#contentParent .skyCafeApp .part .jqx-grid .jqx-grid-toolbar > .jqx-input-group > input {
	max-width: 120px;
}
#contentParent .skyCafeApp .part .jqx-grid .jqx-grid-toolbar .jqx-input-group,
#contentParent .skyCafeApp .part .jqx-grid .jqx-grid-toolbar .jqx-input-group > * {
	height: 35px !important;
}

.skyCafeApp .islemTuslari.header {
	position: fixed;
	top: 2px;
	right: 2px;
	/* width: 48px; */
	/* height: 48px; */
	z-index: 1000;
}
.skyCafeApp .islemTuslari.asil > *,
.skyCafeApp .islemTuslari-ek > * {
	min-height: 50px;
}
#contentParent.skyCafeApp > #header > * {
	padding-left: 13px;
}
.skyCafeApp .islemTuslari.header button {
	width: 38px !important;
}
.skyCafeApp #mainPart.part #btnToggleRestPra,
.skyCafeApp #mainPart.part #btnToggleFullScreenParent,
.skyCafeApp #mainPart.part #zTextParent,
.skyCafeApp #mainPart.part #loginTextParent {
	font-size: 90%;
	margin: 1px 15px 0 0;
	padding: 7px 20px;
	opacity: .95;
	z-index: 500 !important;
}
.skyCafeApp #mainPart.part #zTextParent {
	margin-right: 10px;
	color: #aaa;
}
.skyCafeApp #mainPart.part #zTextParent #zText {
	color: whitesmoke;
	font-weight: bold;
}
.skyCafeApp #mainPart.part #zTextParent.kapandi {
	background: #953131;
}
.skyCafeApp #mainPart.part #loginTextParent {
	color: whitesmoke;
	background-color: #216cde !important;
	border-radius: 13px;
	/*color: #555;
	padding: 5px 15px !important;
	position: fixed;
	top: 8px;
	right: 120px;*/
}
.skyCafeApp #mainPart.part #loginTextParent:hover {
	background-color: #2574ec !important;
	opacity: .9;
}
.skyCafeApp #mainPart.part #loginTextParent:active {
	background-color: #3275d7 !important;
	opacity: 1;
}
@media (max-width: 450px) {
	.skyCafeApp #mainPart.part #loginTextParent {
		font-size: 83%;
		padding: 5px 13px !important;
		top: 50px;
		right: 3px;
	}
}
.skyCafeApp .islemTuslari.header #btnToggleRestPra {
	background-image: url(../../../_kernel/images/birlestir.png);
	background-size: 24px 32px;
	background-position: center;
	background-repeat: no-repeat;
}
.skyCafeApp .islemTuslari.header #btnToggleFullScreen {
	background-image: url(../../../_kernel/images/tamEkranAcBeyaz.png);
	background-size: 32px 32px;
	background-position: center;
	background-repeat: no-repeat;
}
.skyCafeApp .islemTuslari.header #btnTanimlariYukle {
	background-image: url(../../../_kernel/images/tazele.png);
	background-size: 24px 24px;
	background-position: center;
	background-repeat: no-repeat;
}

.skyCafeApp.islemTuslari *,
.skyCafeApp .islemTuslari.asil * {
	color: white;
}
.skyCafeApp .islemTuslari.asil  {
	height: 100px;
}

.skyCafeApp .jqx-grid-column-header {
	font-weight: bold;
}
.skyCafeApp .jqx-grid-column-header * {
	font-size: 115%;
}
.skyCafeApp .jqx-grid-statusbar * {
	font-size: 100%;
	font-weight: normal;
}
.skyCafeApp .jqx-widget-header p {
	display: none;
}
.skyCafeApp .jqx-grid-statusbar {
	padding-top: 0;
	padding-bottom: 0;
	/*top: 0 !important;*/
	opacity: .9;
}
.skyCafeApp .jqx-grid-statusbar.hasGroups {
	margin-top: 26px !important;
}
.skyCafeApp .jqx-grid-statusbar .jqx-grid-cell-pinned {
	font-size: 135%;
}
.skyCafeApp .jqx-grid-table .jqx-grid-cell.selected {
	border: 2px outset #7893dd !important;
}

.skyCafeApp .part div.zKapali {
	border: 2px solid darkred !important;
}
.skyCafeApp .ozelAciklama {
	font-size: 120%;
	position: relative;
	top: 8px !important;
	left: 10px;
	padding: 4px 25px 6px 25px;
	/*border: 5px solid #4ea6a7 !important;*/
	color: #333;
	background-color: #fff3cd;
}


.skyCafeApp.klavye.part,
.skyCafeApp.klavye.part *,
.skyCafeApp #nav,
.skyCafeApp .itemForm {
	/*pointer-events: none !important;*/
}

/*.skyCafeApp .part .item.box,
.skyCafeApp .part .item.box * {
	font-family: ui-monospace !important;
}*/

.skyCafeApp .itemParent::-webkit-scrollbar {
	width: 8px !important;
}
.skyCafeApp .itemParent::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey !important;
  border-radius: 8px !important;
}
.skyCafeApp .itemParent::-webkit-scrollbar-thumb {
  background: #969696 !important;
  border-radius: 8px !important;
}*/

.skyCafeApp #header #appTitle .title-ekBilgi {
	font-size: 180%;
	/* height: 30px !important; */
	color: #89e6d5;
	margin: 9px 0 0 30px;
}
.skyCafeApp .part #toolbar {
	/* margin-right: 95px; */
	padding: 5px 0 2px 3px;
	background: #e3ede5;
}
.skyCafeApp.skyCafePratikApp .part #toolbar {
	background: #d6d9e7;
}
.skyCafeApp .part #toolbar > div {
}
.skyCafeApp .part #toplamParent {
	margin-top: 3px;
	opacity: .9;
}
.skyCafeApp .part #toplamParent #toplam {
	font-size: 200%;
	font-family: SegoeUI-Bold;
	color: black;
	background: #00e0a4;
	text-align: right;
	width: 100%;
	height: 100%;
	padding: 3px;
	padding-right: 10px;
}
.skyCafeApp.skyCafePratikApp .part #toplamParent #toplam {
	color: whitesmoke;
	background: #4e5f83;
}
@media (max-width: 750px) {
	.skyCafeApp .part #toplamParent #toplam {
		font-size: 180%;
	}
}
@media (max-width: 600px) {
	.skyCafeApp .part #toplamParent #toplam {
		font-size: 160%;
	}
}
@media (max-width: 540px) {
	.skyCafeApp .part #toplamParent #toplam {
		font-size: 130%;
		width: 85%;
	}
}
@media (max-width: 500px) {
	.skyCafeApp .part #toplamParent #toplam {
		width: 73%;
	}
}
@media (max-width: 450px) {
	.skyCafeApp .part #toplamParent #toplam {
		font-size: 110%;
	}
}
@media (max-width: 400px) {
	.skyCafeApp .part #toplamParent #toplam {
		font-size: 100%;
		width: 60%;
	}
}
.skyCafeApp .part #hizliBulForm {
	width: 270px;
	height: 50px;
	margin-top: 2px;
}
.skyCafeApp .part #hizliBulForm #txtHizliBul {
	width: 100%;
	background-image: url(../../../_kernel/images/search.png);
	background-position: 10px center;
	background-size: 23px;
	background-repeat: no-repeat;
	padding-left: 43px;
}
.skyCafeApp .part #hizliBulForm #txtHizliBul:hover {
	background-color: #dde6f1;
}
.skyCafeApp .part #hizliBulForm #txtHizliBul:focus,
.skyCafeApp .part #hizliBulForm #txtHizliBul:active {
	color: #333;
	background-color: whitesmoke;
}

.skyCafeApp .part #listeParent {
	overflow-y: auto !important;
}
/*.skyCafeApp.part.satisGrid #listeParent::-webkit-scrollbar {
	width: 30px !important;
}
.skyCafeApp.part.satisGrid #listeParent::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
.skyCafeApp.part.satisGrid #listeParent::-webkit-scrollbar-thumb {
  background: #8896ab;
  border-radius: 10px;
}*/
.skyCafeApp .part #liste .item,
.skyCafeApp .part #liste .item .parent {
	float: left;
	background-color: white;
	opacity: .9;
}
.skyCafeApp .part #liste .item {
	font-size: 90% !important;
	/*width: 150px;
	height: 80px;*/
	width: 98.5% !important;
	margin: 0;
	padding: 13px 2px 13px 3px;
	border-radius: 3px;
	border: .1px solid #aaa;
	line-height: 25px;
}
.skyCafeApp .part #liste .item,
.skyCafeApp .part #liste .sub-item {
	cursor: pointer;
	width: 98.8%;
}
.skyCafeApp .part #liste .item > ._row {
	width: 100%;
}
.skyCafeApp .part #liste .item > ._row > * {
	float: left;
}
@media (max-width: 750px) {
	.skyCafeApp .part #liste .item {
		font-size: 105% !important;
	}
}
@media (max-width: 670px) {
	.skyCafeApp .part #liste .item {
		font-size: 100% !important;
	}
}
@media (max-width: 500px) {
	.skyCafeApp .part #liste .item {
		font-size: 95% !important;
	}
}
.skyCafeApp .part .itemForm .item ._etiket {
	color: #888;
}

.skyCafeApp .part .itemForm .item .islemTuslari {
	float: left;
	border-radius: 3px;
	margin-top: -15px;
	padding: 7px 0 3px 0;
}
.skyCafeApp .part .itemForm .item .islemTuslari #btnSil {
	width: 38px;
	height: 36px;
	background-position: 9px 8px;
	background-size: auto;
	background-repeat: no-repeat;
	background-image: url(../../../_kernel/images/sil.png);
	background-color: #dcdad9;
	margin-right: 3px;
	opacity: .9;
}
.skyCafeApp .part .itemForm .item .islemTuslari #btnSil:hover,
.skyCafeApp .part .itemForm .item .islemTuslari #btnSil:focus {
	background-color: #e57d60 !important;
	opacity: .8;
}
.skyCafeApp .part .itemForm .item .islemTuslari #btnSil:active {
	background-color: #ff6337 !important;
	opacity: 1;
}

.skyCafeApp .part .itemForm .item .islemTuslari #btnDegistir {
	width: 38px;
	height: 38px;
	background-position: center center;
	background-size: 33px;
	background-repeat: no-repeat;
	background-color: white;
	background-image: url(../../../_kernel/images/Group-60.png);
	opacity: .4;
	margin-right: 10px;
	/*visibility: hidden;*/
}
.skyCafeApp .part .itemForm .item .islemTuslari #btnDegistir:hover,
.skyCafeApp .part .itemForm .item .islemTuslari #btnDegistir:focus {
	background-color: white !important;
	opacity: .8;
}
.skyCafeApp .part .itemForm .item .islemTuslari #btnDegistir:active {
	background-color: white !important;
	opacity: 1;
}

.skyCafeApp .part .itemForm .item .islemTuslari #btnIzle {
	width: 40px;
	height: 38px;
	background-position: center center;
	background-size: 33px;
	background-repeat: no-repeat;
	background-image: url(../../../_kernel/images/json2.png);
	opacity: .4;
	margin-right: 3px;
	/*visibility: hidden;*/
}
.skyCafeApp .part .itemForm .item .islemTuslari #btnIzle:hover,
.skyCafeApp .part .itemForm .item .islemTuslari #btnIzle:focus {
	/*background-color: #6088e5 !important;*/
	background-color: transparent !important;
	/*border: 1px solid #6088e5;*/
	opacity: 1;
}
.skyCafeApp .part .itemForm .item .islemTuslari #btnIzle:active {
	background-color: #c8dbff !important;
	opacity: 1;
}

.skyCafeApp .part #liste .item .stokAdi {
	min-width: 300px;
}
@media (max-width: 2000px) {
	.skyCafeApp .part #liste .item .stokAdi {
		min-width: 350px;
	}
}
@media (max-width: 1600px) {
	.skyCafeApp .part #liste .item .stokAdi {
		min-width: 180px;
	}
}
@media (max-width: 1500px) {
	.skyCafeApp .part #liste .item .stokAdi {
		min-width: 280px;
	}
}
@media (max-width: 1200px) {
	.skyCafeApp .part #liste .item .stokAdi {
		min-width: 150px;
	}
}
@media (max-width: 1000px) {
	.skyCafeApp .part #liste .item .stokAdi {
		min-width: 100px;
	}
}
.skyCafeApp .part #liste .item .miktarParent {
	margin: -5px 5px 0 15px !important;
	padding: 0 0 5px 0;
}
.skyCafeApp .part #liste .item .miktarParent .miktar {
	border: 0;
	font-weight: bold;
	text-align: center;
	width: 50px;
}
.skyCafeApp .part #liste .item .iskOranParent {
	font-size: 83%;
	margin-left: 20px;
}
.skyCafeApp .part #liste .item .iskOranParent > *:not(.ek-bilgi) {
	font-weight: bold;
	color: darkred;
}
.skyCafeApp .part #liste .item .iskOranParent > .ek-bilgi {
	color: #888;
	font-style: italic;
}
.skyCafeApp .part #liste .item .bedelParent {
	float: right !important;
	font-weight: bold;
}
.skyCafeApp .part #liste .item .bedelParent > * {
	float: left;
}
.skyCafeApp .part #liste .item .bedelParent .bedel {
}

.skyCafeApp.part.satisGrid #liste .item .ikramTextParent {
}
.skyCafeApp.part.satisGrid #liste .item .ikramTextParent .ikramText {
	font-size: 85%;
	font-style: italic;
	font-weight: bold;
	color: steelblue;
	padding-left: 10px;
}

.skyCafeApp.part.satisGrid #liste .item .ozellikler,
.skyCafeApp.part.satisGrid #liste .item .ekNot {
	float: left !important;
	padding-left: 60px;
}
.skyCafeApp.part.satisGrid #liste .item .ozellikler {
	font-weight: bold;
	font-size: 90%;
	color: #1d6eca;
}
.skyCafeApp.part.satisGrid #liste .item .ozellikler .item-ozellik {
	margin: 2px 5px 0 5px;
	padding: 4px 20px;
	border-radius: 5px;
	border: 1px solid #387add;
	width: max-content;
}
.skyCafeApp.part.satisGrid #liste .item .ekNot {
	font-weight: bold;
	font-size: 95%;
	/* font-style: italic; */
	width: 100% !important;
	color: #c56528;
	margin: 2px 0 0 0;
}

.skyCafeApp.part .jqx-window-header:hover,
.skyCafeApp.part .jqx-window-header:focus {
	background-color: #387add !important;
}
.skyCafeApp.part .jqx-window-header:active {
	background-color: #0049b7 !important;
}
.skyCafeApp.part.collapsed {
	opacity: .8 !important;
	/*z-index: 500 !important;*/
}


.skyCafeApp .part #masalarFormParent {
	overflow-y: auto !important;
	border: 1px dotted #aaa;
	border-radius: 10px;
}
.skyCafeApp .part #masalarFormParent #masalarForm {
	margin-right: 8px;
}
.skyCafeApp .part #masalarForm .item {
	float: left !important;
	text-align: center;
	font-size: 85%;
	width: 180px;
	height: 165px;
	margin: 2px 2px;
	padding: 10px 3px;
	border-radius: 5px;
	border: .8px solid #aaa;
	cursor: pointer;
}
.skyCafeApp .part #masalarForm .item,
.skyCafeApp .part #masalarForm .item * {
	/* font-family: ui-monospace !important; */
}
@media (max-width: 750px) {
	.skyCafeApp .part #masalarForm .item {
		width: 150px;
		height: 120px;
		font-size: 95%;
	}
}
@media (max-width: 600px) {
	.skyCafeApp .part #masalarForm .item {
		width: 120px;
		height: 110px;
		font-size: 85%;
	}
}
@media (max-width: 500px) {
	.skyCafeApp .part #masalarForm .item {
		width: 110px;
		height: 100px;
		font-size: 80%;
	}
}
.skyCafeApp .part #masalarForm .item:hover {
	background: #e4f1ff !important;
}
.skyCafeApp .part #masalarForm .item:active {
	background: #c2d2f3 !important;
}
.skyCafeApp .part #masalarForm .item.selected {
	background: #d1f4e2 !important;
	border: 2px solid #1367b2;
}
.skyCafeApp .part #masalarForm .item[data-anaTip=A] {
	background: #f9fff4;
}
.skyCafeApp .part #masalarForm .item[data-anaTip=P] {
	background: #e5e7ff;
}
.skyCafeApp .part #masalarForm .item[data-anaTip=S] {
	background: #f5f0d5;
}
.skyCafeApp .part #masalarForm .item[data-anaTip=R] {
	background: #d6ebf7;
}
.skyCafeApp .part #masalarForm .item[data-acik][data-anaTip=A] {
	background: #d7fbc7;
}
.skyCafeApp .part #masalarForm .item[data-acik][data-anaTip=P] {
	background: #9099fc;
}
.skyCafeApp .part #masalarForm .item[data-acik][data-anaTip=S] {
	background: #e1c21c;
}
.skyCafeApp .part #masalarForm .item[data-acik][data-anaTip=R] {
	background: #70cbff;
}
.skyCafeApp .part #masalarForm .item[data-yazdirildi] {
	background-repeat: no-repeat !important;
	background-size: 28px !important;
	background-position: 8px 8px !important;
	background-color: #ebd3bf !important;
	background-image: url('../../../_kernel/images/yazdir.png') !important;
}
.skyCafeApp .part #masalarForm .item[data-rezerve] {
	background: #ffd8b3;
}
.skyCafeApp .part #masalarForm .item[data-servisdisi] {
	color: #999;
	background: lightgray !important;
	cursor: inherit;
}
.skyCafeApp .part #masalarForm .item #aciklama {
	font-weight: bold;
	font-size: 110%;
}
.skyCafeApp .part #masalarForm .item #fisSonucText {
	font-weight: bold;
	font-size: 105%;
	color: #036199;
}
.skyCafeApp .part #masalarForm .item #sureText {
	margin-top: -1px;
	padding: 3px 0;
}
.skyCafeApp .part #masalarForm .item[data-bosta] #sureText,
.skyCafeApp .part #masalarForm .item #sureText.bosta {
	color: whitesmoke;
	background: #ffdfd0;
	border: 2px inset darkred !important;
	border-radius: 3px;
}
.skyCafeApp .part #masalarForm .item #rezerveText {
	font-size: 80%;
	color: #aaa;
	line-height: 24px;
}
.skyCafeApp .part #masalarForm .item #rezerveText .rezerveAciklama {
	color: #3daa3f;
	font-weight: bold;
	font-size: 150%;
}


.skyCafeApp.klavye.part {
	/*opacity: .95 !important;*/
	padding: 0 !important;
}
/*.skyCafeApp.klavye.part.collapsed {
	opacity: .4 !important;
	z-index: 500 !important;
}*/
.skyCafeApp.klavye.part .jqx-window-header {
	height: 23px;
	font-size: 75%;
	/*cursor: pointer !important;*/
}
.skyCafeApp.klavye.part.collapsed .jqx-window-header #title div:first-child {
	display: none;
}
/*.skyCafeApp.klavye.part .jqx-window-header:hover,
.skyCafeApp.klavye.part .jqx-window-header:focus {
	background-color: #387add !important;
}
.skyCafeApp.klavye.part .jqx-window-header:active {
	background-color: #0049b7 !important;
}*/
.skyCafeApp.klavye.part .jqx-window-header > * {
	margin-top: -4px;
}
.skyCafeApp.klavye.part.numerik .jqx-window-header > .jqx-window-collapse-button-background {
	margin-right: 13px !important;
}
.skyCafeApp.klavye.part .ui-window-content {
	width: 100%;
	height: 100%;
	margin: -4px 0 0 3px !important;
	padding: 0 !important;
	overflow: hidden !important;
}
.skyCafeApp.klavye.part .ui-window-content,
.skyCafeApp.klavye.part #tusForm,
.skyCafeApp.klavye.part #tusForm #tuslar {
	width: 100%;
	height: 100%;
	padding: 0 !important;
}
.skyCafeApp.klavye.part #tuslar .item-parent {
	width: 100%;
}
.skyCafeApp.klavye.part #tuslar .item {
	float: left;
	height: 100%;
	font-weight: bold !important;
	font-size: 120% !important;
	border-radius: 3px !important;
	margin: .8px 0 0 0;
	padding-bottom: 10px;
}
.skyCafeApp.klavye.part {
	z-index: 50000 !important;
}
.skyCafeApp.klavye.part.numerik .jqx-window-header #aktifMiktarParent {
	font-size: 185%;
	font-weight: bold;
	text-align: right;
	width: 140px !important;
	color: #6ac98a;
	background: #222;
	margin: -10px 3px 0 8px;
	padding: 2px 5px;
	border-radius: 5px;
}
.skyCafeApp.klavye.part.numerik .jqx-window-header #aktifMiktarParent #aktifMiktar {
}
.skyCafeApp.klavye.part.numerik #tuslar .item-parent {
	height: 19%;
}
.skyCafeApp.klavye.part.numerik #tuslar .item {
	width: 33%;
}
.skyCafeApp.klavye.part.numerik #tuslar .item[data-id=backspace] {
	width: 33%;
}
.skyCafeApp.klavye.part.numerik #tuslar .item[data-id=clear] {
	width: 65.8%;
}

.skyCafeApp.klavye.part.text #tuslar .item-parent {
	height: 19.2%;
}
.skyCafeApp.klavye.part.text #tuslar .item {
	width: 8.3%;
}
.skyCafeApp.klavye.part.text #tuslar .item[data-id=backspace] {
	width: 16.6%;
}
.skyCafeApp.klavye.part.text #tuslar .item[data-id=enter] {
	width: 16.6%;
}
.skyCafeApp.klavye.part.text #tuslar .item[data-id=space] {
	width: 99.6%;
}
.skyCafeApp.klavye.part.text #tuslar .item[data-id=clear] {
	width: 65.5%;
}


.skyCafeApp.klavye.part #tuslar .item:hover,
.skyCafeApp.klavye.part #tuslar .item:focus {
	background: aliceblue;
}
.skyCafeApp.klavye.part #tuslar .item:active {
	background: #b6caff;
}

.skyCafeApp #mainPart.part {
	padding: 0 !important;
}
.skyCafeApp #mainPart.part #disForm > div {
	/*margin-top: 5px;
	margin-left: 5px;*/
}
.skyCafeApp #mainPart.part #disForm > div > div {
	/* padding: 2px 2px; */
}

.skyCafeApp #mainPart.part #btnToggleResponsivePanelParent {
	position: fixed;
	top: 60px;
	left: 8px;
	z-index: 700;
}
.skyCafeApp #mainPart.part #btnToggleResponsivePanelParent #btnToggleResponsivePanel {
	width: 36px !important;
	height: 35px !important;
}
.skyCafeApp #mainPart.part #disForm #nav {
	width: 230px;
}
@media (max-width: 700px) {
	.skyCafeApp #mainPart.part #disForm #nav {
		width: 210px;
	}
}
@media (max-width: 600px) {
	.skyCafeApp #mainPart.part #disForm #nav {
		width: 190px;
	}
}
@media (max-width: 400px) {
	.skyCafeApp #mainPart.part #disForm #nav {
		width: 120px;
	}
}
.skyCafeApp #mainPart.part #disForm #nav #header {
	width: 100%;
	height: 70px;
	background-color: #fcfcfc;
	padding: 0 3px;
}
.skyCafeApp #mainPart.part #disForm #nav #header .etiket {
	font-weight: bold;
	font-size: 150%;
	text-align: center;
	width: 100%;
	color: #999;
	padding: 13px 0 0 40px;
}
@media (max-width: 800px) {
	.skyCafeApp #mainPart.part #disForm #nav #header .etiket {
		font-size: 140%;
	}
}
@media (max-width: 700px) {
	.skyCafeApp #mainPart.part #disForm #nav #header .etiket {
		font-size: 130%;
		padding: 15px 0 0 40px;
	}
}
@media (max-width: 600px) {
	.skyCafeApp #mainPart.part #disForm #nav #header .etiket {
		font-size: 100%;
		padding: 18px 0 0 40px;
	}
}
@media (max-width: 500px) {
	.skyCafeApp #mainPart.part #disForm #nav #header .etiket {
		font-size: 80%;
		padding: 20px 0 0 40px;
	}
}
.skyCafeApp #mainPart.part #disForm #nav #menu {
	/* height: 80px; */
	/*background-color: #fafafa;*/
	overflow-y: auto !important;
}
.skyCafeApp #mainPart.part #disForm #nav #menu ul {
	padding: 0;
}
.skyCafeApp #mainPart.part #disForm #nav #menu,
.skyCafeApp #mainPart.part #disForm #nav #menu ul {
	background-color: #fafafa;
}
.skyCafeApp #mainPart.part #disForm #nav #menu ul > li {
	font-weight: normal;
	font-size: 100%;
	text-align: center;
	width: 96%;
	padding: 10px 0 13px 0;
}
@media (max-width: 700px) {
	.skyCafeApp #mainPart.part #disForm #nav #menu ul > li {
		font-size: 95%;
		padding: 9px 0 9px 0;
	}
}
@media (max-width: 500px) {
	.skyCafeApp #mainPart.part #disForm #nav #menu ul > li {
		font-size: 90%;
		padding: 8px 0 8px 0;
	}
}
@media (max-width: 400px) {
	.skyCafeApp #mainPart.part #disForm #nav #menu ul > li {
		font-size: 85%;
	}
}
.skyCafeApp #mainPart.part #disForm #nav #menu ul > li:hover,
.skyCafeApp #mainPart.part #disForm #nav #menu ul > li:active {
	font-weight: bold;
}
.skyCafeApp #mainPart.part #disForm #nav #menu ul > li:hover {
	background: #e4f1ff !important;
}
.skyCafeApp #mainPart.part #disForm #nav #menu ul > li:active {
	background: #c2d2f3 !important;
}
.skyCafeApp #mainPart.part #disForm #nav #menu ul > li[item-value=separator] {
	margin: 0;
	padding: 0;
}
.skyCafeApp #mainPart.part #disForm #nav #menu ul > li.selected {
	font-weight: bold;
	color: #333;
	background: #c6c3e6 !important;
	border: 2px solid #1367b2;
}
.skyCafeApp #mainPart.part #disForm #nav #menu ul > li[data-sub-item] {
	font-size: 90%;
	width: 85%;
	padding-left: 40px !important;
	padding-right: 0 !important;

	background-position: left 45%;
	background-repeat: no-repeat;
	background-size: 40px 40px;
	background-image: url(../../../_kernel/images/sag.png);
}
.skyCafeApp #mainPart.part #disForm #nav #menu ul > li[item-value=masaTip] {
	background: #e3ffde;
}

.skyCafeApp #mainPart.part #disForm > #innerContent {
	width: 100%;
	overflow-y: hidden !important;
	margin: 0 -5px 0 5px;
}
.skyCafeApp #mainPart.part #disForm > #innerContent.nav-collapsed {
	margin-left: 53px;
}

.skyCafeApp #masalar.part #hizliBulForm {
	height: 50px;
	padding: 3px 0;
}
.skyCafeApp #masalar.part #hizliBulForm #txtHizliBul {
	min-width: 100px;
	max-width: 500px;
	height: 100%;
	border-radius: 10px;
}


.skyCafeApp #satisEkrani.part #innerContent {
	overflow: hidden !important;
}
.skyCafeApp #satisEkrani.part #innerContent #solForm {
	min-width: 700px;

}
@media (max-width: 1250px) {
	.skyCafeApp #satisEkrani.part #innerContent #solForm {
		min-width: 650px;
	}
}
@media (max-width: 1100px) {
	.skyCafeApp #satisEkrani.part #innerContent #solForm {
		min-width: 600px;
	}
}
@media (max-width: 1000px) {
	.skyCafeApp #satisEkrani.part #innerContent #solForm {
		min-width: 500px;
	}
}
@media (max-width: 900px) {
	.skyCafeApp #satisEkrani.part #innerContent #solForm {
		min-width: 400px;
	}
}
@media (max-width: 800px) {
	.skyCafeApp #satisEkrani.part #innerContent #solForm {
		min-width: 350px;
	}
}

.skyCafeApp #satisEkrani.part #barkodForm {
	width: 99%;
	padding-right: 3px;
}
.skyCafeApp #satisEkrani.part #barkodForm #barkodUI {
	/* width: 100%; */
	height: 38px;
	border-radius: 8px;
	z-index: 10;
}
.skyCafeApp #satisEkrani.part #barkodForm #barkodUI input {
	color: #444;
	background-color: #dde6f1;
	font-weight: bold;
	font-size: 110%;
	padding: 0;
	border-radius: 8px;

	background-image: url(../../../_kernel/images/Group15.png) !important;
	background-repeat: no-repeat !important;
	background-size: 30px !important;
	background-position: 3px 8px !important;
	padding-left: 45px !important;
}
@media (max-width: 750px) {
	.skyCafeApp #satisEkrani.part #barkodForm #barkodUI input {
		font-size: 120%;
	}
}
@media (max-width: 500px) {
	.skyCafeApp #satisEkrani.part #barkodForm #barkodUI input {
		font-size: 100%;
	}
}
@media (max-width: 400px) {
	.skyCafeApp #satisEkrani.part #barkodForm #barkodUI input {
		font-size: 90%;
	}
}
.skyCafeApp #satisEkrani.part #barkodForm #barkodUI input::placeholder {
	font-size: 65%;
	color: #555;
}
.skyCafeApp #satisEkrani.part #barkodForm #barkodUI input:focus {
	background-color: #d6ecfd;
}
.skyCafeApp #satisEkrani.part #barkodForm #barkodUI input.flick {
	background-color: #e3ffea;
}
.skyCafeApp #satisEkrani.part #barkodForm #barkodUI input.flick.error {
	background-color: #ffded7;
}

.skyCafeApp.satisEkrani.part .itemForm > .subHeader:hover {
	/*cursor: pointer;*/
	border: 1px solid whitesmoke;
	color: #555;
	/*background: #e4f1ff !important;*/
}
.skyCafeApp.satisEkrani.part .itemForm > .subHeader:focus,
.skyCafeApp.satisEkrani.part .itemForm > .subHeader:active {
	/*cursor: pointer;*/
	border: 1px solid whitesmoke;
	color: #333;
	/*background: #c2d2f3 !important;*/
}

.skyCafeApp #satisEkrani.part #btnToggleResponsivePanel_kategoriOrtak {
	position: fixed;
	top: 95px;
	margin-left: -1px;
	width: 45px !important;
	height: 48px !important;
	border-radius: 8px;
	opacity: .8;
	z-index: 0 !important;
}
.skyCafeApp #satisEkrani.part #btnToggleResponsivePanel_kategoriOrtak.collapsed {
	border: 3px solid #628df3 !important;
	margin-left: -3px;
	margin-top: 0;
	opacity: 1;
}
/*.skyCafeApp #satisEkrani.part #btnToggleResponsivePanel_kategoriOrtak.ustKategoriVar {
	top: 282px;
}
@media (max-width: 750px) {
	.skyCafeApp #satisEkrani.part #btnToggleResponsivePanel_kategoriOrtak.ustKategoriVar {
		top: 280px;
	}
}
@media (max-width: 450px) {
	.skyCafeApp #satisEkrani.part #btnToggleResponsivePanel_kategoriOrtak.ustKategoriVar {
		top: 323px;
	}
}*/
.skyCafeApp.satisEkrani.part .itemForm-header {
	padding: 5px 3px !important;
	border: none !important;
}
.skyCafeApp.satisEkrani.part .itemForm-parent {
	width: 49.5%;
}
.skyCafeApp.satisEkrani.part .itemForm-parent.full {
	width: 100%;
}
.skyCafeApp.satisEkrani.part .itemForm {
	border: 1px dotted #aaa;
	border-radius: 5px;
	padding: 0;
	margin: 3px 0;
}

.skyCafeApp.satisEkrani.part .itemForm .subHeader {
	font-size: 90%;
	font-weight: bold;
	/* color: #999; */
	background: #c3cad1b7;
	padding: 10px 0 10px 65px;
	margin-right: 2px;
	border: 1px solid #ccc;
	border-radius: 5px;
}
@media (max-width: 700px) {
	.skyCafeApp.satisEkrani.part .itemForm .subHeader {
		font-size: 82%;
		padding-left: 65px;
	}
}
@media (max-width: 650px) {
	.skyCafeApp.satisEkrani.part .itemForm .subHeader {
		font-size: 80%;
		padding-left: 60px;
	}
}
.skyCafeApp.satisEkrani.part .itemForm #aktifUstKategoriText.subHeader {
	color: #5c5c8b;
}
.skyCafeApp.satisEkrani.part .itemForm #aktifUstKategoriText.subHeader {
	color: #525f67;
}
.skyCafeApp.satisEkrani.part .itemForm .itemParent {
	overflow-y: auto !important;
	background-color: #fbfbfb;
}
.skyCafeApp.satisEkrani.part .itemForm .itemParent .item {
	/*float: left !important;*/
	font-size: 80% !important;
	text-align: center;
	/*width: 150px;
	height: 80px;*/
	width: 98.8%;
	margin: 5px 0;
	padding: 13px 0;
	border-radius: 5px;
	border: .3px solid #aaa;
	cursor: pointer;
	line-height: 22px;
	background-color: white;
}
@media (max-width: 750px) {
	.skyCafeApp.satisEkrani.part .itemForm .itemParent .item {
		/*width: 120px;
		height: 75px;*/
		font-size: 70% !important;
	}
}
@media (max-width: 600px) {
	.skyCafeApp.satisEkrani.part .itemForm .itemParent .item {
		/*width: 110px;
		height: 70px;*/
		font-size: 65% !important;
	}
}
@media (max-width: 550px) {
	.skyCafeApp.satisEkrani.part .itemForm .itemParent .item {
		/*width: 110px;
		height: 70px;*/
		font-size: 60% !important;
	}
}
.skyCafeApp.satisEkrani.part .itemForm .itemParent .item ._etiket {
	color: #999;
}
.skyCafeApp.satisEkrani.part .itemForm #ustKategoriler {
	max-height: max-content;
	padding-bottom: 1px;
}
.skyCafeApp.satisEkrani.part .itemForm #kategoriler {
	padding-left: 30px;
}
.skyCafeApp.satisEkrani.part .itemForm #ustKategoriler .item,
.skyCafeApp.satisEkrani.part .itemForm #kategoriler .item {
	font-weight: bold;
	font-size: 93% !important;
}
.skyCafeApp.satisEkrani.part .itemForm #ustKategoriler .item {
	background: #ebf0ff;
}
.skyCafeApp.satisEkrani.part .itemForm #ustKategoriler.itemParent .item.selected {
	color: whitesmoke;
	background: #1762d2 !important;
}

.skyCafeApp.satisEkrani.part .itemForm #kategoriler .item {
}
.skyCafeApp.satisEkrani.part .itemForm #kategoriDetaylar.collapsed {
	margin-left: 61px;
}
.skyCafeApp.satisEkrani.part .itemForm #kategoriDetaylar .item {
	min-height: 50px;
}
.skyCafeApp.satisEkrani.part .itemForm #kategoriDetaylar .item .islemTuslari {
	float: right;
	margin-top: -8px;
	padding: 5px 0;
}
/*
@media (max-width: 850px) {
	.skyCafeApp.satisEkrani.part .itemForm #kategoriDetaylar .item {
		height: 65px;
	}
}
@media (max-width: 750px) {
	.skyCafeApp.satisEkrani.part .itemForm #kategoriDetaylar .item {
		height: 70px;
	}
}
@media (max-width: 600px) {
	.skyCafeApp.satisEkrani.part .itemForm #kategoriDetaylar .item {
		height: 75px;
	}
}
@media (max-width: 500px) {
	.skyCafeApp.satisEkrani.part .itemForm #kategoriDetaylar .item {
		height: 80px;
	}
}*/

.skyCafeApp.satisEkrani.part .itemForm .itemParent .item #fiyatParent {
	padding-left: 10px;
}
.skyCafeApp.satisEkrani.part .itemForm .itemParent .item #fiyatParent #fiyat {
	color: royalblue;
}

.skyCafeApp.satisEkrani.part .itemForm .itemParent .item.style-1 {
	background: aliceblue !important;
}
.skyCafeApp.satisEkrani.part .itemForm .itemParent .item.style-2 {
	background: #ffe3e3 !important;
}
.skyCafeApp.satisEkrani.part .itemForm .itemParent .item.style-3 {
	background: antiquewhite !important;
}
.skyCafeApp.satisEkrani.part .itemForm .itemParent .item.style-4 {
	background: #dbeddb !important;
}
.skyCafeApp.satisEkrani.part .itemForm .itemParent .item.style-5 {
	background: honeydew !important;
}

.skyCafeApp .part #liste .item.yazdirildi {
	background: #f8f7ff !important;
}
.skyCafeApp .part #liste .item.silindi {
	background: #afafaf !important;
	text-decoration: line-through;
}

.skyCafeApp.satisEkrani.part .itemForm .itemParent .item:hover {
	background: #e4f1ff !important;
}
.skyCafeApp.satisEkrani.part .itemForm .itemParent .item:active {
	background: #c2d2f3 !important;
}
.skyCafeApp.satisEkrani.part .itemForm .itemParent .item.selected {
	font-size: 100% !important;
	color: white !important;
	background: #227adf !important;
	border: 2px solid #1367b2;
}


.skyCafeApp #satisEkrani.part #cikarParent {
	position: absolute;
	/* right: 3px; */
	top: 70px;
	width: 130px;
	height: 52px;
	margin-left: 0 !important;
	z-index: 500;
}
.skyCafeApp #satisEkrani.part #cikarParent #cikar {
	font-weight: bold;
	font-size: 125%;
	color: white;
	background: #d26c39;
	width: 100%;
	height: 100%;
}
@media (max-width: 750px) {
	.skyCafeApp #satisEkrani.part #cikarParent {
		top: 64px;
	}
}
@media (max-width: 600px) {
	.skyCafeApp #satisEkrani.part #cikarParent {
		top: 58px;
		width: 110px;
	}
}
@media (max-width: 520px) {
	.skyCafeApp #satisEkrani.part #cikarParent {
		top: 48px;
		width: 80px;
	}
}
@media (max-width: 450px) {
	.skyCafeApp #satisEkrani.part #cikarParent {
		top: 46px;
		width: 70px;
	}
}

.skyCafeApp.part .jqx-window-content #islemTuslari {
	position: absolute;
	right: 8px;
	top: 54px;
	z-index: 500;
	opacity: .95;
}
.skyCafeApp.part .jqx-window-content #islemTuslari > * {
	vertical-align: top !important;
}
.skyCafeApp.part .jqx-window-content #islemTuslari #btnTamam {
	border: 2px solid royalblue;
	border-radius: 8px;
	width: 70px;
	height: 65px;
	background-size: 70px 65px;
	background-color: #094fc9;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../../../_kernel/images/maviTamam.png);
}
.skyCafeApp.part .jqx-window-content #islemTuslari #btnTamam:hover,
.skyCafeApp.part .jqx-window-content #islemTuslari #btnTamam:focus {
	background-color: #517dca !important;
}
.skyCafeApp.part .jqx-window-content #islemTuslari #btnTamam:active {
	background-color: #00c474 !important;
}

.skyCafeApp.part .jqx-window-content .jqx-numberinput .jqx-action-button > * {
	background-size: 36px 38px;
}


.skyCafeApp.part .textInput.part {
	font-size: 110%;
}
.skyCafeApp.part .ui-window-content .textInput.part {
	margin: 3px 13px !important;
	padding: 0 !important;
}
.skyCafeApp.part .textInput.part #baslikTextParent {
	font-size: 160%;
	padding: 5px 0;
	padding-bottom: 10px;
	min-height: 80px;
	color: #555;
	background: #ebebea;
}
.skyCafeApp.part .textInput.part #textInputParent {
	width: 89.5%;
	height: 53px;
	border: none;
	margin-top: 3px !important;
}
.skyCafeApp.part .textInput.part #textInputParent #textInput {
	font-size: 110%;
	width: 99% !important;
	height: 100% !important;
	overflow-y: auto !important;
}


.skyCafeApp.part .ui-window-content .rezervasyonEkrani.part {
	/*font-size: 110%;*/
}
.skyCafeApp.part .rezervasyonEkrani.part ._etiket {
	width: 130px !important;
	color: #888;
	padding-top: 22px;
}
.skyCafeApp.part .rezervasyonEkrani.part .alt-etiket {
	font-size: 200%;
	color: #555;
	padding: 0 8px;
	padding-top: 13px;
}
.skyCafeApp.part .rezervasyonEkrani.part ._etiket,
.skyCafeApp.part .rezervasyonEkrani.part .alt-etiket,
.skyCafeApp.part .rezervasyonEkrani.part .number-input,
.skyCafeApp.part .rezervasyonEkrani.part .number-input input {
	height: 80px !important;
}
.skyCafeApp.part .rezervasyonEkrani.part .number-input input {
	font-size: 110%;
	margin-top: -33px !important;
	padding-top: 33px !important;
}


.skyCafeApp.satisEkrani.part .ui-window-content .detayDuzenle.part {
	font-size: 110%;
	/* padding-left: 8px; */
	/* margin: 0 5px !important; */
	padding: 0 !important;
}
.skyCafeApp.satisEkrani.part .detayDuzenle.part > div:not(#urunTextParent) {
	font-size: 123%;
	margin: 5px 0;
}
.skyCafeApp.satisEkrani.part .detayDuzenle.part ._etiket {
	width: 130px !important;
	color: #888;
	padding-top: 22px;
}
.skyCafeApp.satisEkrani.part .detayDuzenle.part .fra-etiket,
.skyCafeApp.satisEkrani.part .detayDuzenle.part .alt-etiket {
	font-size: 180%;
	color: #555;
}
.skyCafeApp.satisEkrani.part .detayDuzenle.part .fra-etiket {
	margin-top: 0;
	padding: 13px 2px 0 2px;
}
.skyCafeApp.satisEkrani.part .detayDuzenle.part ._etiket,
.skyCafeApp.satisEkrani.part .detayDuzenle.part .alt-etiket,
.skyCafeApp.satisEkrani.part .detayDuzenle.part .number-input,
.skyCafeApp.satisEkrani.part .detayDuzenle.part .number-input input {
	height: 80px !important;
}
.skyCafeApp.satisEkrani.part .detayDuzenle.part .number-input input {
	font-size: 110%;
	margin-top: -33px !important;
	padding-top: 33px !important;
}
.skyCafeApp.satisEkrani.part .detayDuzenle.part .dvKod {
	padding: 15px;
}

.skyCafeApp.satisEkrani.part .detayDuzenle.part #islemTuslari {
	margin-top: -8px !important;
}
.skyCafeApp.satisEkrani.part .detayDuzenle.part #islemTuslari #btnIkram {
	border: 2px solid royalblue;
	border-radius: 8px;
	width: 70px;
	height: 65px;
	background-size: 70px 65px;
	background-color: ghostwhite;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../../../_kernel/images/ikram.png);
}
.skyCafeApp.satisEkrani.part .detayDuzenle.part #islemTuslari #btnIkram:before {
	font-weight: bold;
	font-size: 80% !important;
	color: #094fc9;
	content: "İkram";
}
.skyCafeApp.satisEkrani.part .detayDuzenle.part #islemTuslari #btnIkram:hover:before,
.skyCafeApp.satisEkrani.part .detayDuzenle.part #islemTuslari #btnIkram:focus:before,
.skyCafeApp.satisEkrani.part .detayDuzenle.part #islemTuslari #btnIkram:active:before {
	color: ghostwhite;
}
	
.skyCafeApp.satisEkrani.part .detayDuzenle.part #islemTuslari #btnIkram:hover,
.skyCafeApp.satisEkrani.part .detayDuzenle.part #islemTuslari #btnIkram:focus {
	color: ghostwhite !important;
	background-color: #517dca !important;
}
.skyCafeApp.satisEkrani.part .detayDuzenle.part #islemTuslari #btnIkram:active {
	color: ghostwhite !important;
	background-color: #00c474 !important;
}

.skyCafeApp.satisEkrani.part .detayDuzenle.part #ozelliklerForm {
	margin-top: 3px !important;
}
.skyCafeApp.satisEkrani.part .detayDuzenle.part #ozelliklerForm #ozellikler {
}
.skyCafeApp.satisEkrani.part .detayDuzenle.part #ozelliklerForm #ozellikler .item {
	float: left;
	font-weight: bold;
	font-size: 80% !important;
	background: initial !important;
	width: 200px;
	height: 70px;
	margin: 0 3px;
	padding: 8px 3px;
	border-radius: 3px;
	border: 1px solid #387add;
	overflow-y: auto !important;
	line-height: 20px;
}
.skyCafeApp.satisEkrani.part .detayDuzenle.part #ozelliklerForm #ozellikler .item:hover,
.skyCafeApp.satisEkrani.part .detayDuzenle.part #ozelliklerForm #ozellikler .item:focus {
	color: whitesmoke;
	background: #729ee2 !important;
}
.skyCafeApp.satisEkrani.part .detayDuzenle.part #ozelliklerForm ozellikler .item:active {
	color: whitesmoke;
	background: #4777c0 !important;
}
.skyCafeApp.satisEkrani.part .detayDuzenle.part #ozelliklerForm #ozellikler .item.selected {
	color: whitesmoke;
	background: #387add !important;
}
.skyCafeApp.satisEkrani.part .detayDuzenle.part #ozelliklerForm #ozellikler .item #ekFiyatParent {
	font-size: 65% !important;
	color: #888;
	padding-top: 8px;
	/*text-align: right;
	padding: 8px 3px 0 0;*/
}
.skyCafeApp.satisEkrani.part .detayDuzenle.part #ozelliklerForm #ozellikler .item.selected #ekFiyatParent {
	color: ghostwhite;
}

.skyCafeApp.satisEkrani.part .detayDuzenle.part #urunTextParent {
	font-size: 113%;
	margin-top: -10px;
	padding-top: 13px;
	padding-right: 95px;
	width: 100%;
	height: 80px;
	/*padding-bottom: 10px;*/
	color: #333;
	background: #ebebea;
}
.skyCafeApp.satisEkrani.part .detayDuzenle.part #ekNotForm {
	width: 89%;
	height: 50px;
	border: none;
	margin-top: 5px !important;
}
.skyCafeApp.satisEkrani.part .detayDuzenle.part #ekNotForm #ekNot {
	font-size: 70%;
	width: 99% !important;
	height: 100% !important;
	overflow-y: auto !important;
}
.skyCafeApp.satisEkrani.part .detayDuzenle.part #sonucParent {
	border: 1px solid green;
	border-radius: 3px;
	margin-top: 5px;
}
.skyCafeApp.satisEkrani.part .detayDuzenle.part #sonucParent #sonuc {
	font-weight: bold;
	font-size: 160%;
	text-align: right;
	width: 380px;
	height: 70px;
	color: green;
	margin-left: 0;
	margin-top: 15px;
}
.skyCafeApp.satisEkrani.part .detayDuzenle.part #sonucParent #sonucDvKod {
	font-size: 140%;
	margin-left: 50px;
	margin-top: 5px;
}


.skyCafeApp.satisEkrani.part .ui-window-content .tahsilat.part {
	font-size: 110%;
	/* padding-left: 8px; */
	/*margin: 0 5px !important;*/
	padding: 0 8px !important;
}
.skyCafeApp.satisEkrani.part .tahsilat.part > div {
	font-size: 120%;
	/* margin: 3px 0; */
	/* padding: 1px 0; */
}
.skyCafeApp.satisEkrani.part .tahsilat.part > div > div {
	padding: 0;
	margin-top: 1px;
}
.skyCafeApp.satisEkrani.part .tahsilat.part ._etiket {
	width: 170px !important;
	color: #888;
	padding-top: 17px;
}
.skyCafeApp.satisEkrani.part .tahsilat.part .fra-etiket,
.skyCafeApp.satisEkrani.part .tahsilat.part .alt-etiket {
	font-size: 180%;
	color: #555;
}
.skyCafeApp.satisEkrani.part .tahsilat.part .fra-etiket {
	margin-top: 0;
	padding: 13px 2px 0 2px;
}
.skyCafeApp.satisEkrani.part .tahsilat.part ._etiket,
.skyCafeApp.satisEkrani.part .tahsilat.part .alt-etiket,
.skyCafeApp.satisEkrani.part .tahsilat.part .number-input,
.skyCafeApp.satisEkrani.part .tahsilat.part .number-input input,
.skyCafeApp.satisEkrani.part .tahsilat.part #sonucParent {
	height: 60px !important;
}
.skyCafeApp.satisEkrani.part .tahsilat.part .number-input input {
	font-size: 110%;
	margin-top: -33px !important;
	padding-top: 33px !important;
}
.skyCafeApp.satisEkrani.part .tahsilat.part .dvKod {
	padding: 23px 0 0 15px;
}
.skyCafeApp.satisEkrani.part .tahsilat.part #toplamParent .dvKod,
.skyCafeApp.satisEkrani.part .tahsilat.part #sonucParent .dvKod {
	padding-top: 13px;
}
.skyCafeApp.satisEkrani.part .tahsilat.part #sonucParent {
	margin-top: 5px;
}
.skyCafeApp.satisEkrani.part .tahsilat.part #toplamParent > *:not(._etiket),
.skyCafeApp.satisEkrani.part .tahsilat.part #sonucParent > *:not(._etiket) {
	font-size: 170%;
}
.skyCafeApp.satisEkrani.part .tahsilat.part #toplamParent,
.skyCafeApp.satisEkrani.part .tahsilat.part #sonucParent {
	font-weight: bold;
}
.skyCafeApp.satisEkrani.part .tahsilat.part #toplamParent #toplam,
.skyCafeApp.satisEkrani.part .tahsilat.part #sonucParent #sonuc {
	font-size: 180%;
	font-weight: bold;
	text-align: right;
	width: 467px;
	height: 100%;
	padding-top: 0;
	padding-right: 10px;
	box-sizing: content-box !important;
}
.skyCafeApp.satisEkrani.part .tahsilat.part #toplamParent #toplam {
	font-family: SegoeUI-Bold;
	color: black;
	background: #00e0a4;
}
.skyCafeApp.satisEkrani.part .tahsilat.part #sonucParent #sonuc {
	color: #333;
	background: #cccdcf;
}
.skyCafeApp.satisEkrani.part .tahsilat.part #sonucParent.para-ustu * {
	color: darkred !important;
}
.skyCafeApp.satisEkrani.part .tahsilat.part #sonucParent.dolu #sonuc {
	background: #b8c8be !important;
}
.skyCafeApp.satisEkrani.part .tahsilat.part #sonucParent.para-ustu #sonuc {
	background: #bcb3b3 !important;
}
.skyCafeApp.satisEkrani.part .tahsilat.part #islemTuslari-ek {
	width: 100%;
	padding: 5px 0 3px 15px;
}
.skyCafeApp.satisEkrani.part .tahsilat.part #btnKalaniYaz {
	font-weight: bold;
	border: 3px solid #c2d4ef;
	width: 300px;
	min-height: 60px !important;
}
.skyCafeApp.satisEkrani.part .tahsilat.part #btnKalaniYaz:hover,
.skyCafeApp.satisEkrani.part .tahsilat.part #btnKalaniYaz:focus {
	color: whitesmoke;
	background: #638dd7;
}
.skyCafeApp.satisEkrani.part .tahsilat.part #btnKalaniYaz:active {
	color: whitesmoke;
	background: #25519b;
}

.skyCafeApp.satisEkrani.part .tahsilat.part #listeParent {
	overflow-y: auto !important;
	/*height: 250px;*/
}
.skyCafeApp.satisEkrani.part .tahsilat.part #listeParent #liste {
}
.skyCafeApp.satisEkrani.part .tahsilat.part #listeParent #liste tr > .jqx-grid-cell {
	font-size: 120%;
	height: 33px;
}
.skyCafeApp.satisEkrani.part .tahsilat.part #listeParent #liste tr > .jqx-grid-cell.miktar,
.skyCafeApp.satisEkrani.part .tahsilat.part #listeParent #liste tr > .jqx-grid-cell.alinacakMiktar {
	font-size: 150%;
	font-weight: bold;
}
.skyCafeApp.satisEkrani.part .tahsilat.part #listeParent #liste tr > .jqx-grid-cell.miktar {
	background: #f1e5e1;
}
.skyCafeApp.satisEkrani.part .tahsilat.part #listeParent #liste tr > .jqx-grid-cell.alinacakMiktar {
	background: #c0d4f1;
}
.skyCafeApp.satisEkrani.part .tahsilat.part #listeParent #liste tr > .jqx-grid-cell.alinacakMiktar.bos {
	background: whitesmoke;
}
.skyCafeApp.satisEkrani.part .tahsilat.part #listeParent #liste tr > .jqx-grid-cell.alinacakMiktar.hepsi {
	background: #d2ffe2;
}


.skyCafeApp.satisEkrani.part .ui-window-content .masaTransfer.part {
	font-size: 110%;
	/* padding-left: 8px; */
	/*margin: 0 5px !important;*/
	padding: 0 !important;
}
.skyCafeApp.satisEkrani.part .masaTransfer.part > div {
	font-size: 80%;
	/*margin: 3px 0;*/
}
.skyCafeApp.satisEkrani.part .masaTransfer.part ._etiket {
	width: 140px !important;
	color: #888;
	padding-top: 22px;
}
.skyCafeApp.satisEkrani.part .masaTransfer.part .alt-etiket {
	font-size: 180%;
	color: #555;
}
.skyCafeApp.satisEkrani.part .masaTransfer.part ._etiket,
.skyCafeApp.satisEkrani.part .masaTransfer.part .alt-etiket,
.skyCafeApp.satisEkrani.part .masaTransfer.part .number-input,
.skyCafeApp.satisEkrani.part .masaTransfer.part .number-input input {
	height: 80px !important;
}
.skyCafeApp.satisEkrani.part .masaTransfer.part .number-input input {
	font-size: 110%;
	margin-top: -33px !important;
	padding-top: 33px !important;
}
.skyCafeApp.satisEkrani.part .masaTransfer.part .dvKod {
	padding: 23px 0 0 15px;
}
.skyCafeApp.satisEkrani.part .masaTransfer.part #toplamParent .dvKod {
	padding-top: 13px;
}
.skyCafeApp.satisEkrani.part .masaTransfer.part #toplamParent > *:not(._etiket) {
	font-size: 170%;
}
.skyCafeApp.satisEkrani.part .masaTransfer.part #toplamParent {
	font-weight: bold;
}
.skyCafeApp.satisEkrani.part .masaTransfer.part #toplamParent #toplam {
	font-size: 200%;
	font-weight: bold;
	text-align: right;
	color: whitesmoke;
	background: #4e7453;
	width: 60%;
	height: 100%;
	padding-top: 5px;
	padding-right: 10px;
}

.skyCafeApp.satisEkrani.part .masaTransfer.part #islemTuslari-ek {
	width: 100%;
	padding: 5px 10px 15px 10px;
}
.skyCafeApp.satisEkrani.part .masaTransfer.part #btnHepsiniSec {
	border: 2px outset #7893dd !important;
	border-radius: 8px;
	width: 70px;
	height: 65px;
	margin-right: 20px;
	background-size: 70px 65px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../../../_kernel/images/selectall.png);
}
.skyCafeApp.satisEkrani.part .masaTransfer.part #btnHepsiniSec:hover,
.skyCafeApp.satisEkrani.part .masaTransfer.part #btnHepsiniSec:focus {
	background-color: #f9fff4 !important;
}
.skyCafeApp.satisEkrani.part .masaTransfer.part #btnHepsiniSec:active {
	background-color: #a8bb98 !important;
}

.skyCafeApp.satisEkrani.part .masaTransfer.part #hizliBulForm {
	height: 40px;
	padding: 0;
}
.skyCafeApp.satisEkrani.part .masaTransfer.part #hizliBulForm #txtHizliBul {
	min-width: 100px;
	max-width: 500px;
	height: 100%;
	border-radius: 10px;
}
.skyCafeApp.satisEkrani.part .masaTransfer.part #listeParent {
	overflow-y: auto !important;
	height: 243px !important;
}
.skyCafeApp.satisEkrani.part .masaTransfer.part #listeParent #liste {
}
.skyCafeApp.satisEkrani.part .masaTransfer.part #listeParent #liste tr > .jqx-grid-cell {
	font-size: 170%;
	height: 45px;
}
.skyCafeApp.satisEkrani.part .masaTransfer.part #listeParent #liste tr > .jqx-grid-cell.islemTuslari {
	padding: 0 2px;
}
.skyCafeApp.satisEkrani.part .masaTransfer.part #listeParent #liste tr > .jqx-grid-cell.islemTuslari,
.skyCafeApp.satisEkrani.part .masaTransfer.part #listeParent #liste tr > .jqx-grid-cell.islemTuslari button {
	z-index: 10000 !important;
	width: 100%;
	height: 100%;
}
.skyCafeApp.satisEkrani.part .masaTransfer.part #listeParent #liste tr > .jqx-grid-cell.islemTuslari .gridCell-islemTuslari button {
	width: 32px;
	height: 32px;
}
.skyCafeApp.satisEkrani.part .masaTransfer.part #listeParent #liste tr > .jqx-grid-cell.islemTuslari .gridCell-islemTuslari button#tamaminiAl {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../../../_kernel/images/selectall.png);
}
.skyCafeApp.satisEkrani.part .masaTransfer.part #listeParent #liste tr > .jqx-grid-cell.stokAdi {
	font-weight: bold;
}
.skyCafeApp.satisEkrani.part .masaTransfer.part #listeParent #liste tr > .jqx-grid-cell.miktar,
.skyCafeApp.satisEkrani.part .masaTransfer.part #listeParent #liste tr > .jqx-grid-cell.alinacakMiktar {
	font-weight: bold;
	font-size: 180%;
}
.skyCafeApp.satisEkrani.part .masaTransfer.part #listeParent #liste tr > .jqx-grid-cell.miktar {
	background: #f1e5e1;
}
.skyCafeApp.satisEkrani.part .masaTransfer.part #listeParent #liste tr > .jqx-grid-cell.alinacakMiktar {
	background: #c0d4f1;
}
.skyCafeApp.satisEkrani.part .masaTransfer.part #listeParent #liste tr > .jqx-grid-cell.alinacakMiktar.bos {
	background: whitesmoke;
}
.skyCafeApp.satisEkrani.part .masaTransfer.part #listeParent #liste tr > .jqx-grid-cell.alinacakMiktar.hepsi {
	background: #d2ffe2;
}


.skyCafeApp.part .ui-window-content .kasiyerIslemleri.part {
	font-size: 110%;
	/* padding-left: 8px; */
	/*margin: 0 5px !important;*/
	padding: 0 !important;
}
.skyCafeApp.part .kasiyerIslemleri.part > div {
	font-size: 80%;
	/*margin: 3px 0;*/
}
.skyCafeApp.part .kasiyerIslemleri.part ._etiket {
	width: 140px !important;
	color: #888;
	padding-top: 22px;
}
.skyCafeApp.part .kasiyerIslemleri.part .alt-etiket {
	font-size: 180%;
	color: #555;
}
.skyCafeApp.part .kasiyerIslemleri.part ._etiket,
.skyCafeApp.part .kasiyerIslemleri.part .alt-etiket {
	height: 80px !important;
}
.skyCafeApp.part .kasiyerIslemleri.part #toplamParent .dvKod {
	padding-top: 13px;
}
.skyCafeApp.part .kasiyerIslemleri.part #toplamParent > *:not(._etiket) {
	font-size: 170%;
}
.skyCafeApp.part .kasiyerIslemleri.part #toplamParent {
	font-weight: bold;
	width: 96%;
	height: 50px;
}
.skyCafeApp.part .kasiyerIslemleri.part #toplamParent #btnEkle {
	float: left;
	width: 80px;
	height: 50px;
	margin-top: -5px;
	background-size: 30px;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #004ab9 !important;
	background-image: url(../../../_kernel/images/ekle.png);
	opacity: .7;
}
.skyCafeApp.part .kasiyerIslemleri.part #toplamParent #btnEkle:hover,
.skyCafeApp.part .kasiyerIslemleri.part #toplamParent #btnEkle:focus {
	background-color: #387add !important;
	opacity: .9;
}
.skyCafeApp.part .kasiyerIslemleri.part #toplamParent #btnEkle:active {
	background-color: #063d8f !important;
	opacity: 1;
}
.skyCafeApp.part .kasiyerIslemleri.part #toplamParent .toplam {
	float: right;
	font-size: 170%;
	font-weight: bold;
	text-align: right;
	color: whitesmoke;
	width: 180px;
	height: 100%;
	padding-top: 5px;
	padding-right: 10px;
	margin-right: 10px;
}
/*.skyCafeApp.part .kasiyerIslemleri.part #toplamParent #toplam_acilis {
	color: #333;
	background: #eeebe6;
}
.skyCafeApp.part .kasiyerIslemleri.part #toplamParent #toplam_teslim {
	background: #827c61;
}*/
.skyCafeApp.part .kasiyerIslemleri.part #toplamParent #toplam_giren {
	background: #4e7453;
}
.skyCafeApp.part .kasiyerIslemleri.part #toplamParent #toplam_cikan {
	background: #745a4e;
}

.skyCafeApp.part .kasiyerIslemleri.part #listeParent {
	overflow-y: auto !important;
	/*height: 413px !important;*/
}
.skyCafeApp.part .kasiyerIslemleri.part #listeParent #liste {
}
.skyCafeApp.part .kasiyerIslemleri.part #listeParent #liste tr > .jqx-grid-cell {
	font-size: 200%;
	height: 43px;
}
.skyCafeApp.part .kasiyerIslemleri.part #listeParent #liste tr > .jqx-grid-cell.islemTuslari {
	padding: 0 8px;
}
.skyCafeApp.part .kasiyerIslemleri.part #listeParent #liste tr > .jqx-grid-cell.islemTuslari,
.skyCafeApp.part .kasiyerIslemleri.part #listeParent #liste tr > .jqx-grid-cell.islemTuslari button {
	z-index: 10000 !important;
	width: 100%;
	height: 100%;
}
.skyCafeApp.part .kasiyerIslemleri.part #listeParent #liste tr > .jqx-grid-cell.islemTuslari .gridCell-islemTuslari button {
	width: 32px;
	height: 32px;
}
.skyCafeApp.part .kasiyerIslemleri.part #listeParent #liste tr > .jqx-grid-cell.islemTuslari .gridCell-islemTuslari button#temizle {
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #711e1e7d;
	background-image: url(../../../_kernel/images/temizle.png);
}
.skyCafeApp.part .kasiyerIslemleri.part #listeParent #liste tr > .jqx-grid-cell.satirNo {
	font-weight: bold;
	font-size: 150% !important;
	color: #555;
}
/*.skyCafeApp.part .kasiyerIslemleri.part #listeParent #liste tr > .jqx-grid-cell.acilis,
.skyCafeApp.part .kasiyerIslemleri.part #listeParent #liste tr > .jqx-grid-cell.teslim,*/
.skyCafeApp.part .kasiyerIslemleri.part #listeParent #liste tr > .jqx-grid-cell.tip,
.skyCafeApp.part .kasiyerIslemleri.part #listeParent #liste tr > .jqx-grid-cell.giren,
.skyCafeApp.part .kasiyerIslemleri.part #listeParent #liste tr > .jqx-grid-cell.cikan {
	font-weight: bold;
}
.skyCafeApp.part .kasiyerIslemleri.part #listeParent #liste tr > .jqx-grid-cell.aciklama {
}
.skyCafeApp.part .kasiyerIslemleri.part #listeParent #liste tr > .jqx-grid-cell.tip {
}
/*.skyCafeApp.part .kasiyerIslemleri.part #listeParent #liste tr > .jqx-grid-cell.acilis {
	background: #eeebe6;
}
.skyCafeApp.part .kasiyerIslemleri.part #listeParent #liste tr > .jqx-grid-cell.teslim {
	background: #827c61;
}*/
.skyCafeApp.part .kasiyerIslemleri.part #listeParent #liste tr > .jqx-grid-cell.giren {
	background: #c9efce;
}
.skyCafeApp.part .kasiyerIslemleri.part #listeParent #liste tr > .jqx-grid-cell.cikan {
	background: #e8d6ce;
}
.skyCafeApp.part .kasiyerIslemleri.part #listeCellEditorParent_tip {
	position: fixed;
	margin: 0;
	padding: 9px 3px;
	background-color: whitesmoke;
	z-index: 500 !important;
}
.skyCafeApp.part .kasiyerIslemleri.part #listeCellEditorParent_tip #listeCellEditor_tip {
}


.skyCafeApp.part .ui-window-content .zHesaplasma.part {
	font-size: 110%;
	/* padding-left: 8px; */
	/*margin: 0 5px !important;*/
	padding: 0 !important;
}
.skyCafeApp.part .zHesaplasma.part > div {
	font-size: 80%;
	/*margin: 3px 0;*/
}
.skyCafeApp.part .zHesaplasma.part ._etiket {
	width: 140px !important;
	color: #888;
	padding-top: 22px;
}
.skyCafeApp.part .zHesaplasma.part .alt-etiket {
	font-size: 180%;
	color: #555;
}
.skyCafeApp.part .zHesaplasma.part ._etiket,
.skyCafeApp.part .zHesaplasma.part .alt-etiket {
	height: 80px !important;
}

.skyCafeApp.part .zHesaplasma.part #islemTuslari-ek {
	padding: 2px 5px;
}
.skyCafeApp.part .zHesaplasma.part #islemTuslari-ek > * {
	height: 100%;
}
.skyCafeApp.part .zHesaplasma.part #islemTuslari-ek #yazdir {
	width: 200px;	
}
.skyCafeApp.part .zHesaplasma.part #chkZKapansinParent {
	font-weight: bold;
	font-size: 130%;
	color: #520c0c;
	width: 210px;
	padding-top: 5px;
	margin-left: 23px;
	margin-bottom: 10px;
}
.skyCafeApp.part .zHesaplasma.part #chkZKapansinParent.checked {
	color: whitesmoke;
	background-color: #520c0c;
}
.skyCafeApp.part .zHesaplasma.part #chkZKapansinParent #chkZKapansin_etiket {
}
.skyCafeApp.part .zHesaplasma.part #chkZKapansinParent #chkZKapansin {
	width: 18px;
	height: 18px;
	margin-right: 10px;
	margin-left: 10px;
}
.skyCafeApp.part .zHesaplasma.part #toplamParent .dvKod {
	padding-top: 13px;
}
.skyCafeApp.part .zHesaplasma.part #listeParent {
	overflow-y: auto !important;
	/*height: 413px !important;*/
}
.skyCafeApp.part .zHesaplasma.part #listeParent #liste {
}
.skyCafeApp.part .zHesaplasma.part #listeParent #liste tr > .jqx-grid-cell {
	font-size: 170%;
	padding: 5px 3px;
	height: 15px;
}
.skyCafeApp.part .zHesaplasma.part #listeParent #liste tr > .jqx-grid-cell.islemTuslari {
	padding: 0 8px;
}
.skyCafeApp.part .zHesaplasma.part #listeParent #liste tr > .jqx-grid-cell.islemTuslari,
.skyCafeApp.part .zHesaplasma.part #listeParent #liste tr > .jqx-grid-cell.islemTuslari button {
	z-index: 10000 !important;
	width: 100%;
	height: 100%;
}
.skyCafeApp.part .zHesaplasma.part #listeParent #liste tr > .jqx-grid-cell.islemTuslari .gridCell-islemTuslari button {
	width: 32px;
	height: 32px;
}
.skyCafeApp.part .zHesaplasma.part #listeParent #liste tr > .jqx-grid-cell.islemTuslari .gridCell-islemTuslari button#temizle {
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #711e1e7d;
	background-image: url(../../../_kernel/images/temizle.png);
}
.skyCafeApp.part .zHesaplasma.part #listeParent #liste tr > .jqx-grid-cell.bedel,
.skyCafeApp.part .zHesaplasma.part #listeParent #liste tr > .jqx-grid-cell.olasiBedel {
	font-weight: bold;
}
.skyCafeApp.part .zHesaplasma.part #listeParent #liste tr > .jqx-grid-cell.bedel:not(.disabled) {
	border: 1px solid #9cc6cf;
	background-color: #e5f1ff;
}
.skyCafeApp.part .zHesaplasma.part #listeParent #liste tr > .jqx-grid-cell.separator {
	background-color: #348c;
}
.skyCafeApp.part .zHesaplasma.part #listeParent #liste tr > .jqx-grid-cell.posTeslim,
.skyCafeApp.part .zHesaplasma.part #listeParent #liste tr > .jqx-grid-cell.yemekCekiTeslim,
.skyCafeApp.part .zHesaplasma.part #listeParent #liste tr > .jqx-grid-cell.kasadaKalan {
	background-color: #c1d4f9;
}
.skyCafeApp.part .zHesaplasma.part #listeParent #liste tr > .jqx-grid-cell.girdiToplam,
.skyCafeApp.part .zHesaplasma.part #listeParent #liste tr > .jqx-grid-cell.giderTeslimToplam {
	background-color: #fcd2ce;
}
.skyCafeApp.part .zHesaplasma.part #listeParent #liste tr > .jqx-grid-cell.satisCiro,
.skyCafeApp.part .zHesaplasma.part #listeParent #liste tr > .jqx-grid-cell.nakitTeslimEdilecek {
	background-color: #d5ffc3;
}


.skyCafeApp .part #liste .item:hover,
.skyCafeApp .part #liste .item:focus {
	background: aliceblue;
}
.skyCafeApp .part #liste .item:active {
	background: #b6caff;
}
.skyCafeApp .part #liste .item.selected {
	font-weight: bolder;
	color: #333;
	background-color: #95b4e6 !important;
	line-height: 20px;
	padding-left: 4px;
	padding-top: 8px;
}
